.profile-container {
    flex-basis: 30%;
    margin-right: auto;
    padding: auto;
}

.profile-container>* {
    margin-left: auto;
}

.profile-img {

    width: 50%;
}

.profile-item {
    line-height: 25px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-item-key {
    font-weight: bold;
    font-size: 1.3em;
    color: #d35400;
}

.profile-item-value {
    font-size: 1.4em;
    color: #34495e;
}

.profile-item-key::after {
    content: ' : ';
}

.pagination-container {
    margin:auto;
    width: 70%;
    margin-top: 30px;
}

.btn {
text-decoration: none;
font-size: 1.3em;
margin: 5px;
cursor: pointer;
color: #000;
font-weight: bold;
padding: 10px;
}

.btn-pagination {
    border-radius: 3px;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3);  
}
.btn-pagination:hover {
    background-color: #e67e22;
    color: #fff;
    box-shadow: 0px 0px 0px 2px #f39c12;
}

.profile-img {
    cursor: pointer;
}